<a href="https://colab.research.google.com/github/randy-tsukemen/Data_science_roadmap/blob/master/ppppp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
from google.colab import files
uploaded = files.upload()

Saving order_brush_order.csv to order_brush_order (1).csv

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [83]:
loan_data = pd.read_csv('order_brush_order.csv')

# Print missing values
print(loan_data.isna().sum())
print(loan_data.info())
print(loan_data.nunique())
print(loan_data.head())

orderid       0
shopid        0
userid        0
event_time    0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB
None
orderid       222750
shopid         18770
userid         93883
event_time    121064
dtype: int64
          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [84]:
loan_data['event_time'] = pd.to_datetime(loan_data['event_time'])
loan_data.sort_values(by='event_time', inplace=True)
loan_data.head()

               orderid     shopid     userid          event_time
150060  31075200506751    6042309   97707522 2019-12-27 00:00:00
25985   31075200506752  104804492   97707522 2019-12-27 00:00:00
81020   31075200506753    8715449   97707522 2019-12-27 00:00:00
146598  31075201870570  190969466  170182475 2019-12-27 00:00:02
80355   31075205798264    2859407   12532131 2019-12-27 00:00:05

In [93]:
example = loan_data[loan_data.shopid == 8996761].copy()
example

               orderid   shopid     userid          event_time
85639   31197009072133  8996761    2136861 2019-12-28 09:50:10
64988   31197099132601  8996761    2136861 2019-12-28 09:51:40
1436    31221433435774  8996761  162508227 2019-12-28 16:37:13
57411   31221501326851  8996761  162508227 2019-12-28 16:38:22
142422  31221615158739  8996761  162508227 2019-12-28 16:40:15
110220  31289016357484  8996761   13135622 2019-12-29 11:23:36
180859  31289143347095  8996761   13135622 2019-12-29 11:25:43
165247  31289198789997  8996761   13135622 2019-12-29 11:26:39
141887  31295266255667  8996761  151327544 2019-12-29 13:07:46
217111  31295328244372  8996761  151327544 2019-12-29 13:08:49
8979    31303785458991  8996761  137245836 2019-12-29 15:29:45
37651   31321903640506  8996761   15183979 2019-12-29 20:31:43
221093  31322062433973  8996761  137245836 2019-12-29 20:34:22
206471  31323748030850  8996761  137245836 2019-12-29 21:02:28
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54
80140   31367846625435  8996761  151327544 2019-12-30 09:17:27
30606   31378416988874  8996761  137245836 2019-12-30 12:13:36
162783  31391119570643  8996761   15183979 2019-12-30 15:45:20
130442  31413988472552  8996761  163123768 2019-12-30 22:06:28
58652   31414219467536  8996761  163123768 2019-12-30 22:10:19
22191   31414932513261  8996761  162508227 2019-12-30 22:22:13
37737   31415033685146  8996761  162508227 2019-12-30 22:23:53
52698   31419193808097  8996761  137245836 2019-12-30 23:33:14
56176   31420198085093  8996761   15183979 2019-12-30 23:49:58
101291  31420669820669  8996761   15182097 2019-12-30 23:57:50
163177  31420848484212  8996761    2136861 2019-12-31 00:00:48
17116   31463329902935  8996761  215382704 2019-12-31 11:48:49
197220  31463516755431  8996761  215382704 2019-12-31 11:51:56
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20

In [0]:
example

In [86]:
example['diff_event_time'] = example['event_time'].diff()
example = example.fillna(pd.Timedelta('0 days 00:00:00'))
example

               orderid   shopid     userid          event_time diff_event_time
85639   31197009072133  8996761    2136861 2019-12-28 09:50:10        00:00:00
64988   31197099132601  8996761    2136861 2019-12-28 09:51:40        00:01:30
1436    31221433435774  8996761  162508227 2019-12-28 16:37:13        06:45:33
57411   31221501326851  8996761  162508227 2019-12-28 16:38:22        00:01:09
142422  31221615158739  8996761  162508227 2019-12-28 16:40:15        00:01:53
110220  31289016357484  8996761   13135622 2019-12-29 11:23:36        18:43:21
180859  31289143347095  8996761   13135622 2019-12-29 11:25:43        00:02:07
165247  31289198789997  8996761   13135622 2019-12-29 11:26:39        00:00:56
141887  31295266255667  8996761  151327544 2019-12-29 13:07:46        01:41:07
217111  31295328244372  8996761  151327544 2019-12-29 13:08:49        00:01:03
8979    31303785458991  8996761  137245836 2019-12-29 15:29:45        02:20:56
37651   31321903640506  8996761   15183979 2019-12-29 20:31:43        05:01:58
221093  31322062433973  8996761  137245836 2019-12-29 20:34:22        00:02:39
206471  31323748030850  8996761  137245836 2019-12-29 21:02:28        00:28:06
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54        00:01:26
80140   31367846625435  8996761  151327544 2019-12-30 09:17:27        12:13:33
30606   31378416988874  8996761  137245836 2019-12-30 12:13:36        02:56:09
162783  31391119570643  8996761   15183979 2019-12-30 15:45:20        03:31:44
130442  31413988472552  8996761  163123768 2019-12-30 22:06:28        06:21:08
58652   31414219467536  8996761  163123768 2019-12-30 22:10:19        00:03:51
22191   31414932513261  8996761  162508227 2019-12-30 22:22:13        00:11:54
37737   31415033685146  8996761  162508227 2019-12-30 22:23:53        00:01:40
52698   31419193808097  8996761  137245836 2019-12-30 23:33:14        01:09:21
56176   31420198085093  8996761   15183979 2019-12-30 23:49:58        00:16:44
101291  31420669820669  8996761   15182097 2019-12-30 23:57:50        00:07:52
163177  31420848484212  8996761    2136861 2019-12-31 00:00:48        00:02:58
17116   31463329902935  8996761  215382704 2019-12-31 11:48:49        11:48:01
197220  31463516755431  8996761  215382704 2019-12-31 11:51:56        00:03:07
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38        00:01:42
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01        00:01:23
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26        00:03:25
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20        00:00:54

In [0]:
example.loc[:, 'cum'] = pd.Timedelta('0 days 00:00:00')

In [0]:
def custcum(x):
     total = pd.Timedelta('0 days 00:00:00')
     count = 0
     for i, v in x.iterrows():
         total += v.diff_event_time
         count += 1
         if total >= pd.Timedelta('0 days 01:00:00'):
            total = pd.Timedelta('0 days 00:00:00')
            count = 1
         x.loc[i, 'cum'] = count
     return x

In [92]:
example = example.groupby('shopid').apply(custcum)
example

               orderid   shopid  ...  diff_event_time cum
85639   31197009072133  8996761  ...         00:00:00   1
64988   31197099132601  8996761  ...         00:01:30   2
1436    31221433435774  8996761  ...         06:45:33   1
57411   31221501326851  8996761  ...         00:01:09   2
142422  31221615158739  8996761  ...         00:01:53   3
110220  31289016357484  8996761  ...         18:43:21   1
180859  31289143347095  8996761  ...         00:02:07   2
165247  31289198789997  8996761  ...         00:00:56   3
141887  31295266255667  8996761  ...         01:41:07   1
217111  31295328244372  8996761  ...         00:01:03   2
8979    31303785458991  8996761  ...         02:20:56   1
37651   31321903640506  8996761  ...         05:01:58   1
221093  31322062433973  8996761  ...         00:02:39   2
206471  31323748030850  8996761  ...         00:28:06   3
115272  31323834307549  8996761  ...         00:01:26   4
80140   31367846625435  8996761  ...         12:13:33   1
30606   31378416988874  8996761  ...         02:56:09   1
162783  31391119570643  8996761  ...         03:31:44   1
130442  31413988472552  8996761  ...         06:21:08   1
58652   31414219467536  8996761  ...         00:03:51   2
22191   31414932513261  8996761  ...         00:11:54   3
37737   31415033685146  8996761  ...         00:01:40   4
52698   31419193808097  8996761  ...         01:09:21   1
56176   31420198085093  8996761  ...         00:16:44   2
101291  31420669820669  8996761  ...         00:07:52   3
163177  31420848484212  8996761  ...         00:02:58   4
17116   31463329902935  8996761  ...         11:48:01   1
197220  31463516755431  8996761  ...         00:03:07   2
166235  31463618079296  8996761  ...         00:01:42   3
64862   31463701425020  8996761  ...         00:01:23   4
26346   31463906062704  8996761  ...         00:03:25   5
83426   31463960795761  8996761  ...         00:00:54   6

[32 rows x 6 columns]

In [0]:
def get_concentrate_rate(rows_in_hour):
    return len(rows_in_hour) / rows_in_hour.userid.nunique()
def get_brush_users(rows_in_hour):
    user_counts = rows_in_hour.userid.value_counts()
    user  = user_counts[user_counts == user_counts.max()].index
    return user

In [0]:
def cal(x):
    users = []
    for i, v in x.iterrows():
        diff = x['event_time'] - v['event_time']
        rows_in_hour = x[(diff < pd.Timedelta('0 days 01:00:00')) & (diff >= pd.Timedelta('0 days 00:00:00'))]
        # print(get_concentrate_rate(rows_in_hour))
        if get_concentrate_rate(rows_in_hour) >= 3:
            user = get_brush_users(rows_in_hour)
            users.append(user)
            # print("AAAA", user)
            # print("BBBB", users)
        # print(rows_in_hour)
    users = '&'.join([str(u) for u in np.sort(np.unique(users))])
    # print("CCCCC", users)
    return users

In [0]:
aa = loan_data.groupby('shopid').apply(cal)

In [0]:
aa.to_csv("ss.csv")

In [0]:
kk = pd.read_csv('ss.csv')

In [203]:
kk[~kk[kk.columns[0]].isna()]

         shopid            0
0         10009          NaN
1         10084          NaN
2         10132          NaN
3         10151          NaN
4         10153          NaN
...         ...          ...
4106  213133435          NaN
4107  213141071  213646699.0
4108  213235823          NaN
4109  213519181          NaN
4110  213567552          NaN

[4111 rows x 2 columns]

In [174]:
users = []
for i, v in example.iterrows():
    diff = example['event_time'] - v['event_time']
    rows_in_hour = example[(diff < pd.Timedelta('0 days 01:00:00')) & (diff >= pd.Timedelta('0 days 00:00:00'))]
    print(get_concentrate_rate(rows_in_hour))
    if get_concentrate_rate(rows_in_hour) >= 3:
        user = get_brush_users(rows_in_hour)
        users.append(user)
        print("AAAA", user)
        print("BBBB", users)
    print(rows_in_hour)
np.unique(users)
users = '&'.join([str(u) for u in np.sort(users)])
print("CCCCC", users)

2.0
              orderid   shopid   userid          event_time
85639  31197009072133  8996761  2136861 2019-12-28 09:50:10
64988  31197099132601  8996761  2136861 2019-12-28 09:51:40
1.0
              orderid   shopid   userid          event_time
64988  31197099132601  8996761  2136861 2019-12-28 09:51:40
3.0
[162508227]
AAAA 162508227
BBBB ['162508227']
               orderid   shopid     userid          event_time
1436    31221433435774  8996761  162508227 2019-12-28 16:37:13
57411   31221501326851  8996761  162508227 2019-12-28 16:38:22
142422  31221615158739  8996761  162508227 2019-12-28 16:40:15
2.0
               orderid   shopid     userid          event_time
57411   31221501326851  8996761  162508227 2019-12-28 16:38:22
142422  31221615158739  8996761  162508227 2019-12-28 16:40:15
1.0
               orderid   shopid     userid          event_time
142422  31221615158739  8996761  162508227 2019-12-28 16:40:15
3.0
[13135622]
AAAA 13135622
BBBB ['162508227', '13135622']
               orderid   shopid    userid          event_time
110220  31289016357484  8996761  13135622 2019-12-29 11:23:36
180859  31289143347095  8996761  13135622 2019-12-29 11:25:43
165247  31289198789997  8996761  13135622 2019-12-29 11:26:39
2.0
               orderid   shopid    userid          event_time
180859  31289143347095  8996761  13135622 2019-12-29 11:25:43
165247  31289198789997  8996761  13135622 2019-12-29 11:26:39
1.0
               orderid   shopid    userid          event_time
165247  31289198789997  8996761  13135622 2019-12-29 11:26:39
2.0
               orderid   shopid     userid          event_time
141887  31295266255667  8996761  151327544 2019-12-29 13:07:46
217111  31295328244372  8996761  151327544 2019-12-29 13:08:49
1.0
               orderid   shopid     userid          event_time
217111  31295328244372  8996761  151327544 2019-12-29 13:08:49
1.0
             orderid   shopid     userid          event_time
8979  31303785458991  8996761  137245836 2019-12-29 15:29:45
2.0
               orderid   shopid     userid          event_time
37651   31321903640506  8996761   15183979 2019-12-29 20:31:43
221093  31322062433973  8996761  137245836 2019-12-29 20:34:22
206471  31323748030850  8996761  137245836 2019-12-29 21:02:28
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54
3.0
[137245836]
AAAA 137245836
BBBB ['162508227', '13135622', '137245836']
               orderid   shopid     userid          event_time
221093  31322062433973  8996761  137245836 2019-12-29 20:34:22
206471  31323748030850  8996761  137245836 2019-12-29 21:02:28
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54
2.0
               orderid   shopid     userid          event_time
206471  31323748030850  8996761  137245836 2019-12-29 21:02:28
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54
1.0
               orderid   shopid     userid          event_time
115272  31323834307549  8996761  137245836 2019-12-29 21:03:54
1.0
              orderid   shopid     userid          event_time
80140  31367846625435  8996761  151327544 2019-12-30 09:17:27
1.0
              orderid   shopid     userid          event_time
30606  31378416988874  8996761  137245836 2019-12-30 12:13:36
1.0
               orderid   shopid    userid          event_time
162783  31391119570643  8996761  15183979 2019-12-30 15:45:20
2.0
               orderid   shopid     userid          event_time
130442  31413988472552  8996761  163123768 2019-12-30 22:06:28
58652   31414219467536  8996761  163123768 2019-12-30 22:10:19
22191   31414932513261  8996761  162508227 2019-12-30 22:22:13
37737   31415033685146  8996761  162508227 2019-12-30 22:23:53
1.5
              orderid   shopid     userid          event_time
58652  31414219467536  8996761  163123768 2019-12-30 22:10:19
22191  31414932513261  8996761  162508227 2019-12-30 22:22:13
37737  31415033685146  8996761  162508227 2019-12-30 22:23:53
2.0
              orderid   shopid     userid          event_time
22191  31414932513261  8996761  162508227 2019-12-30 22:22:13
37737  31415033685146  8996761  162508227 2019-12-30 22:23:53
1.0
              orderid   shopid     userid          event_time
37737  31415033685146  8996761  162508227 2019-12-30 22:23:53
1.0
               orderid   shopid     userid          event_time
52698   31419193808097  8996761  137245836 2019-12-30 23:33:14
56176   31420198085093  8996761   15183979 2019-12-30 23:49:58
101291  31420669820669  8996761   15182097 2019-12-30 23:57:50
163177  31420848484212  8996761    2136861 2019-12-31 00:00:48
1.0
               orderid   shopid    userid          event_time
56176   31420198085093  8996761  15183979 2019-12-30 23:49:58
101291  31420669820669  8996761  15182097 2019-12-30 23:57:50
163177  31420848484212  8996761   2136861 2019-12-31 00:00:48
1.0
               orderid   shopid    userid          event_time
101291  31420669820669  8996761  15182097 2019-12-30 23:57:50
163177  31420848484212  8996761   2136861 2019-12-31 00:00:48
1.0
               orderid   shopid   userid          event_time
163177  31420848484212  8996761  2136861 2019-12-31 00:00:48
3.0
[215382704]
AAAA 215382704
BBBB ['162508227', '13135622', '137245836', '215382704']
               orderid   shopid     userid          event_time
17116   31463329902935  8996761  215382704 2019-12-31 11:48:49
197220  31463516755431  8996761  215382704 2019-12-31 11:51:56
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20
2.5
               orderid   shopid     userid          event_time
197220  31463516755431  8996761  215382704 2019-12-31 11:51:56
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20
2.0
               orderid   shopid     userid          event_time
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20
1.5
              orderid   shopid     userid          event_time
64862  31463701425020  8996761  215382704 2019-12-31 11:55:01
26346  31463906062704  8996761    2136861 2019-12-31 11:58:26
83426  31463960795761  8996761    2136861 2019-12-31 11:59:20
2.0
              orderid   shopid   userid          event_time
26346  31463906062704  8996761  2136861 2019-12-31 11:58:26
83426  31463960795761  8996761  2136861 2019-12-31 11:59:20
1.0
              orderid   shopid   userid          event_time
83426  31463960795761  8996761  2136861 2019-12-31 11:59:20
CCCCC 13135622&137245836&162508227&215382704

In [0]:

np.unique(users)
users = '&'.join([str(u) for u in np.sort(users)])

In [173]:
users

'13135622&137245836&162508227&215382704'

In [165]:
get_brush_users(rows_in_hour_.append(rows_in_hour_.iloc[-2:, :], ignore_index=True))

[  2136861 215382704]

'2136861&215382704'

In [166]:
get_brush_users(rows_in_hour_)

[215382704]

'215382704'

In [116]:
rows_in_hour_.userid.value_counts()

215382704    4
2136861      2
Name: userid, dtype: int64

In [134]:
rows_in_hour_.userid.value_counts().idxmax()

215382704

In [122]:
rows_in_hour_.userid.value_counts().index[rows_in_hour_.userid.value_counts().argmax()]

215382704

In [121]:
rows_in_hour_

               orderid   shopid     userid          event_time
17116   31463329902935  8996761  215382704 2019-12-31 11:48:49
197220  31463516755431  8996761  215382704 2019-12-31 11:51:56
166235  31463618079296  8996761  215382704 2019-12-31 11:53:38
64862   31463701425020  8996761  215382704 2019-12-31 11:55:01
26346   31463906062704  8996761    2136861 2019-12-31 11:58:26
83426   31463960795761  8996761    2136861 2019-12-31 11:59:20

In [0]:
k = rows_in_hour_.append(rows_in_hour_.iloc[-2:, :], ignore_index=True).userid.value_counts().idxmax()

In [159]:
rows_in_hour_.append(rows_in_hour_.iloc[-2:, :], ignore_index=True).userid.value_counts()

2136861      4
215382704    4
Name: userid, dtype: int64

In [0]:
aa = rows_in_hour_.append(rows_in_hour_.iloc[-2:, :], ignore_index=True).userid.value_counts()

In [148]:
aa[aa == aa.max()].index

Int64Index([2136861, 215382704], dtype='int64')